bitstruct==8.11.0
certifi==2024.7.4
cffi==1.14.2
chardet==3.0.4
Cython==0.29.21
idna==3.7
kademlia==2.2.1
numpy==1.22.0
pycodec2==1.0.4
pycparser==2.20
requests==2.32.0
rpcudp==4.0.1
samplerate==0.1.0
SoundCard==0.4.0
u-msgpack-python==2.7.0
urllib3==2.2.2
